<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% dishes.forEach(record => { %>
        <h1><%= record.name %> </h1>
        <%if(record.imageURL){%>
            <img src="<%= record.imageURL %>:"  alt="">
        }
    <% }) %>

</body>
</html>