<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/dishes" method="POST">
        title: <input type="text" name="title" placeholder="title"><br>
        description: <input type="text" name="description"><br>
        price: <input type="text" name="price"><br>
        url: <input type="text" name="url"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>